html{
  margin-left: 0;  
  margin-right: 0;
  background-color: white
}

.App {

}

.App-body{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: wheat;
  min-height: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.roommate-container { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.roommate-container h1{ 
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}


#select-roommate {
  margin-right: 8px;
  height: calc(12px + 2vmin);
  font-weight: 700;
  font-size: calc(8px + 2vmin);
}