html{
  margin-left: 0;  
  margin-right: 0;
  background-color: white
}

.App {
  display: flex;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: wheat;
  min-height: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.roommate-container { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.roommate-container h1{ 
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}
#select-roommate {
  margin-right: 8px;
  border-radius: 8px;
  height: calc(12px + 2vmin);
  font-weight: 700;
  font-size: calc(8px + 2vmin);
}

.time-view-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.time-view-container button {
  color: rgb(93, 0, 255);
  height: 28px;
  width: 100px;
  font-size: 18px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(93, 0, 255);
  margin-right: 12px;

}
.time-view-container button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.time-view-container button:active {
  background-color: rgb(93, 0, 255);
  color: white;
} 

.todo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 12px;
  margin-bottom: 12px;
}
.todo-title h2 {
  margin-right: 12px;
}
.todo-title button {
  margin-right: 12px;
  background-color: rgb(93, 0, 255);
  color: white;
  border-radius: 8px;
  height: 28px;
  width: 28px;
  font-size: 18px;
  transition-duration: 0.3s;
  border: none;
}
.todo-title button:hover {
  transition-duration: 0.3s;
  background-color: rgb(58, 0, 159);
  cursor: pointer;
}

#add-todo-container {
  padding: 8px;
  display: flex;
  position: fixed;
  top: 40%;
  left: 55%;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: rgb(230, 218, 255);
  border-radius: 8px;
  height: 266px;
  width: 300px;
  box-shadow: 4px 4px rgb(58, 0, 159);
}
#add-todo-container h3 {
  font-size: 18px;
  font-weight: 700;
}
#add-todo-container .todo-input-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#add-todo-container .todo-input-element label,
#add-todo-container .todo-input-element input,
#add-todo-container .todo-input-element select {
  margin-bottom: 10px;
  width: 60%;
  text-wrap: wrap;
}
#add-todo-container button {
  width: 20%;
  height: 30px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: rgb(93, 0, 255);
  transition-duration: 0.3s;
}
#add-todo-container button:hover {
  transition-duration: 0.3s;
  background-color: rgb(58, 0, 159);
  cursor: pointer;
}

.hidden{
  display: none;
}

#add-todo-container.hidden {
  display: none;
}

.calendar-container {
  width: 100%;
  height: 500px;
  border: 1px solid grey; 
  border-radius: 8px;
}

.task-container, .todo-board-container {
  margin-bottom: 20px;
}

.task-container button {
  margin-right: 12px;
  background-color: rgb(93, 0, 255);
  color: white;
  border-radius: 8px;
  height: 28px;
  width: 96px;
  font-size: 16px;
  border: none;
  transition-duration: 0.3s;
}
.task-container button:hover {
  transition-duration: 0.3s;
  background-color: rgb(58, 0, 159);
  cursor: pointer;
}
.task-title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 12px;
  margin-bottom: 12px;
}
.task-title-container h2 {
  margin-right: 12px;
}

.todo-list button {
  border: none;
  background-color: lightcoral;
  margin-left: 12px;
  border-radius: 4px;
}
.todo-list button:hover {
  background-color: red;
  cursor: pointer;
}

.todo-list {
  accent-color: rgb(93, 0, 255);
}

